<nav class="mui-bar mui-bar-tab" style="z-index: 9999;background: white;">
    <a class="mui-tab-item nav-a-bottom" id="yi" href="/index/index/zhanshi.html?c=0#user" style="border-right: 1px solid #eee;cursor: pointer;">
        <img src="/static/index/images/bars-o.png" />
        <span class="mui-tab-label" style="">艺</span>
    </a>
    <a class="mui-tab-item nav-a-bottom" id="dao" href="/index/index/gift.html" style="border-right: 1px solid #eee;cursor: pointer;">
       <img src="/static/index/images/bars-o.png" />
       <span class="mui-tab-label" style="">道</span>
    </a>
    <a class="mui-tab-item nav-a-bottom" id="jia" href="/index/index/center.html" style="cursor: pointer;">
        <img src="/static/index/images/bars-o.png" />
        <span class="mui-tab-label" style="">家</span>
    </a>
</nav>
<style>
	.mui-tab-label{
		color: #666;
    font-size: 1.4rem;
    font-weight: 400;
	}
	.mui-bar{
		height: 4.2rem;
	}
	.mui-tab-item{
		height: 4.2rem;
	}
	.mui-tab-label{
		color: #666;
    font-size: 1.4rem;
    font-weight: 400;
	}
	.mui-bar-tab a img{
		    width: 0.9rem;
    margin-top: 0;
    margin-right: -0.2rem;
	}
</style>
<script type="text/javascript">
    mui('body').on('tap','.nav-a-bottom',function(){
        document.location.href=this.href;
    });
</script>