<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>艺道家</title>
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/index/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/index/js/mui/dist/css/mui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/index/css/new/rem.css">
    <link rel="stylesheet" type="text/css" href="/static/index/css/new/show_comments.css">
    
</head>
<body>
	<div class="gd-nav">
		<i class="glyphicon glyphicon-chevron-left i_prev_url"></i>
		<span>评论</span>
		<i class="glyphicon glyphicon-chevron-left" style="opacity: 0;"></i>
	</div>
	<div class="gd-comments">
		<div class="comment" uid="" cid="">
			<div class="comment-in">
				<img src="http://wx.qlogo.cn/mmopen/y5RpFDuUObyHey58AgYvp2vva3vicQEON4Rzab7hj4x8JuDM1ZLRBz1Bn7QwvicEsd08CYAlsF4m0DEXxeoKicyh3BwWY2tzUSz/0">
				<div class="comment-right">
					<div class="comment-right-top">
						<span class="crt-name">wells</span>
						<span class="crt-time">5小时</span>
					</div>
					<div class="comment-right-content">
						fdaskfldsfjdaskl 发的科技萨芬了巨大酸辣粉
					</div>
				</div>
			</div>
		</div>
		<div class="comment comment-0" uid="" cid="">
			<div class="comment-in">
				<img src="http://wx.qlogo.cn/mmopen/y5RpFDuUObyHey58AgYvp2vva3vicQEON4Rzab7hj4x8JuDM1ZLRBz1Bn7QwvicEsd08CYAlsF4m0DEXxeoKicyh3BwWY2tzUSz/0">
				<div class="comment-right">
					<div class="comment-right-top">
						<span class="crt-name">wells</span>
						<span class="crt-time">5小时</span>
					</div>
					<div class="comment-right-content">
						<span>回复</span>
						<span class="crc-who">某人:</span>
						<span>content</span>
					</div>
				</div>
			</div>
		</div>

		<div class="bottom-wrapper">
			<div class="bottom">
				<textarea name="content"></textarea>
				<button class="sendBtn">发送</button>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/static/index/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/static/index/layer/layer.js"></script>
    <script type="text/javascript" src="/static/index/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/index/js/mui/dist/js/mui.min.js"></script>
    <script type="text/javascript" src="/static/index/js/new/show_comments.js"></script>
</body>
</html>