<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="pragma" content="no-cache">  
	<!-- HTTP 1.0 -->  
	<meta http-equiv="cache-control" content="no-cache">  
	<!-- Prevent caching at the proxy server -->  
	<meta http-equiv="expires" content="0">  
	<title>艺道家</title>
	<link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
	<style type="text/css">
		div{
			background-image: url('/static/index/images/start9.jpeg');
			background-size: 100% 100%;
			width: 100%;
			height: 100%;
		}
	</style>
</head>
<body>
	<div><a href="/index/index/zhanshi" style="width: 100%;height: 100%;"></a></div>
	<script type="text/javascript">
		window.onload = function(){
			// setTimeout('window.location.href="/index/index/zhanshi";', 1500);
			setTimeout(function(){
				document.getElementsByTagName('a')[0].click();
			}, 2300);
		}
	</script>
</body>
</html>